.Filter {
  margin: .5em 1em 0 0;
}

.Filter-link {
  text-decoration: none;
  color: $blue-color;
  transition: all .2s linear;
}

.Filter-link:hover {
  color: darken($blue-color, 30%);
  text-decoration: underline;
}

.FilterList {
  display: flex;
}

.FilterListBox {
  display: flex;
  align-items: flex-end;
  margin-top: .5em;
}

.FilterListBox-button {
  text-decoration: none;
  color: $silver-colorDark;
  font-size: 1.3em;
}
