$silver-colorDark: #4D4D4D;
$silver-colorMedium: #808080;
$silver-colorLight: #F2F2F2;
$red-color: #C1272D;
$orange-color: #FF931E;

$green-color: #7AC943;
$blue-color: #3FA9F5;
$purple-color: #662D91;
