@import "sass/utils/normalize";
@import "sass/utils/reset";
@import "sass/utils/colors";
@import "sass/utils/font";
@import "sass/utils/util";
@import "sass/product";
@import "sass/order";
@import "sass/filter";
@import "sass/header";


body {
  font-size: 16px;
  color: $silver-colorDark;
  background-color: $silver-colorLight;
}

.App-content {
  display: flex;
  padding-top: 1em;
}
