@import "sass/utils/normalize";
@import "sass/utils/reset";
@import "sass/utils/colors";
@import "sass/utils/font";
@import "sass/utils/util";
@import "sass/product";
@import "sass/order";
@import "sass/filter";
@import "sass/header";


body {
  font-size: 16px;
  color: $silver-colorDark;
  background-color: $silver-colorLight;
}

.App-content {
  display: flex;
  padding-top: 1em;
}

.OrderUser {
  @extend .Product;
}

.OrderUser-description {
  @extend .Product-description;
}

.OrderUserHeader {
  @extend .ProductHeader;
}

.OrderUser-icon {
  @extend .Product-icon;
  background-color: $purple-color;
}

.OrderUser-title {
  @extend .Product-title;
}
.OrderUser-state {
  @extend .Product-price;
}

.OrderUserBox {
  @extend .ProductBox;
}

.OrderUserForm-search {
  @extend .ProductForm-search;
}

.is-completed {
  @extend .is-highCant;
}
.is-pending {
  @extend .is-mediumCant;
}
